<!-- header.html -->
<div th:fragment="header">
    <header>
        <div class="logo">
            <a th:href="@{/}">VHAO SYSTEM</a>
        </div>
        <nav>
            <ul>
                <li><a th:href="@{/productos}">PRODUCTOS</a></li>
                <li><a th:href="@{/soporte}">SOPORTE</a></li>
                <!---<li><a th:href="@{/contacto}">CONTACTO</a></li>-->

                <li>
                    <a href="https://github.com/victorluis0292/vhaosystem/releases/download/1.4.7/VHAOPDVOnlineSetup.exe"
                       class="download-btn">
                       DESCARGAR PRUEBA GRATIS
                    </a>
                </li>
            </ul>
        </nav>
    </header>
    
    <!-- Enlaces a CSS y JS con versionado para evitar cache -->
    <link rel="stylesheet" th:href="@{/css/styles.css(v=${version})}" />
    <script th:src="@{/js/main.js(v=${version})}"></script>
</div>
